html,
body {
	font-family: "Inter", sans-serif;
}

.Montserrat {
	font-family: "Montserrat", sans-serif !important;
}

.text-12-500 {
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 0em;
}

.text-12-700 {
	font-size: 12px;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0em;
}
